/*.kdev4
/.kdev_include_paths
/coverage
bench_results
/extras/bazel_root/bazel-*
.idea
*.pyc
/build*
/test_package/build
/cmake-build-debug
/cmake-build-release
/.vs
/Debug
/*.sln
/*.vcxproj
/*.vcxproj.filters
/CMakeSettings.json
/*.vcxproj.user
